body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .character-container {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .character-name {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .character-info {
    color: #ffffff;
    font-size: 1rem;
    margin: 5px 0;
  }