body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.0rem;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  li {
    background-color: #030303;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  li:hover {
    transform: scale(1.05);
  }
  
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
  }
  
  p {
    color: #666;
  }
  